@charset "UTF-8";

.divtitle {
	background: url("../media/headers/404.jpg") no-repeat center;
	background-size: cover;
	height: 50%;
}

.picturefooter {
	background: url("../media/footers/404.jpg") no-repeat center;
	background-size: cover;
}