@charset "UTF-8";

/* Gallery Code from Tim Van Damme at https://css-tricks.com/adaptive-photo-layout-with-flexbox/ */

.gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gallery li {
	height: 30vh;
	flex-grow: 1;
}

.gallery li:last-child {
	flex-grow: 10;
}	

img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

/* Portrait. */
@media (max-aspect-ratio: 1/1) {
  li {
    height: 20vh;
  }
}

/* Shorter screens. */
@media (max-height: 480px) {
  li {
    height: 60vh;
  }
}

/* Smaller screens in portrait. */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 50vh;
    min-width: 0;
  }
}