@charset "UTF-8";

body, html {
	font-family: Bahnschrift, Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

.titlepage {
	height: 100vh;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	
	color: #FFFFFF;
	text-shadow: 1px 1px 10px #000000;
}

.titlepage a, .halfpage a {
	color: #FFFFFF;
	text-decoration: none;
}

.titlepage a:visited, .halfpage a:visited {
	color: #FFFFFF;
}

.titlepage a:hover, .halfpage a:hover {
	color: #E0E0E0;
}

.halfpage {
	height: 50vh;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	
	color: #FFFFFF;
	text-shadow: 1px 1px 10px #000000;
}

.primary {
	font-weight: normal;
}

.secondary {
	font-weight: bold;
}

.textcontent {
	text-align: center;
	margin: 0% 15%;
}

.textcontent h1 {
	border-bottom: 2px solid #000000;
}

.textcontent ul {
	list-style-type: none;
}

.textcontent a, .textcontent a:visited {
	color: #000000;
}

.textcontent a:hover {
	color: #666666;
}

.topheader {
	padding-bottom: 0;
	margin-bottom: 0;
}

.subheader {
	padding-top: 0;
	margin-top: 0;
}