@charset "UTF-8";

body, html {
	font-family: Bahnschrift, Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

.titlepage {
	height: 100vh;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	
	color: #FFFFFF;
	text-shadow: 1px 1px 10px #000000;
}

.titlepage a {
	color: #FFFFFF;
	text-decoration: none;
}

.titlepage a:visited {
	color: #FFFFFF;
}

.titlepage a:hover {
	color: #E0E0E0;
}

.primary {
	font-weight: normal;
}

.secondary {
	font-weight: bold;
}