@charset "UTF-8";

body, html
{
	font-family: "Bahnschrift", Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

.divheader {
	background-color: #000000;
	color: #FFFFFF;
	
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.divtitle {
	display: flex;
	height: 25%;
	padding: 50px;
}

.picturefooter {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	height: 20%;
}

.divtitle h1
{
	color: #FFFFFF;
	text-shadow: 4px 4px #000000;
	font-size: 5em;
	margin: 0px;
}

a {
	color: #333333;
	text-decoration: none;
}

a:visited {
	color: #666666;
}

a:hover img {
	opacity: 0.8;
	box-shadow: 0px 0px 5px #000000;
}

.divheader a, .divfooter a, .picturefooter a
{
	text-decoration: none;
	color: #FFFFFF;
}

.divheader a:hover, .divfooter a:hover, .picturefooter a:hover
{
	text-decoration: none;
	color: #CCCCCC;
}

.currentheader a
{
	color: #8F8F8F;
}

.divinfro
{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding: 25px;
}

.divinfro h1
{
	color: #000000;
	font-size: 5em;
	margin: 0px;
}

.divthumbs
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.divthumbs figure img
{
	width: 300px;
	border-radius: 15px;
}

main
{
	width: 90%;
	margin: auto;
}

main h2
{
	text-align: center;
}

.divcontent * {
	text-align: left;
}

figcaption
{
	text-align: center;
}

.divfooter
{
	background-color: #000000;
	color: #FFFFFF;
	
	display: flex;
	justify-content: space-evenly;
}

.divfooter ul
{
	list-style-type: none;
}