@charset "UTF-8";

.divtitle {
	background: url("../media/titleimgs/index.JPG") no-repeat center;
	background-size: cover;
	height: 80%;
}

.picturefooter {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	
	background: url("../media/infroimgs/hudsoniiart.jpg") no-repeat center;
	background-size: cover;
	height: 40%;
}