@charset "UTF-8";

main {
	text-align: center;
}

img {
	padding: 5px;
	width: 75%;
}

p a {
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	img {
		padding: 5px;
		width: 100%;
	}
}